@import "../abstracts/mixins";

.box-right {
  flex: 1;
  margin: 35px;

  &__icon-cart {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 15px;
  }

  &__button-cart {
    @include styleButton;
    background-color: $color-purple;

    & > span {
      @include styleChild;
      color: white;
    }
  }

  &__button-remove {
    width: 40px;
    height: 40px;
    background-color: $color-purple;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    color: white;
    font-weight: 900;
    margin-right: 20px;
    font-size: larger;
  }

  &__paragraph {
    margin-top: 65px;
    font-size: 20px;
    border-top: 1px solid $color-purple-ligth;
  }
}

.button-cart {
  @include styleButton;
  background-color: $color-purple-ligth;
  border: 1px solid $color-purple;

  & > span {
    @include styleChild;
    color: $color-purple;
  }
}
